services:
    laravel.test:
        image: '221110019/devops-laravel:latest'
        ports:
            - '80:80'
        environment:
            DB_HOST: mysql
            DB_DATABASE: laravel
            DB_USERNAME: sail
            DB_PASSWORD: password
        depends_on:
            - mysql

    mysql:
        image: 'mysql/mysql-server:8.0'
        environment:
            MYSQL_ROOT_PASSWORD: 'password'
            MYSQL_DATABASE: 'laravel'
            MYSQL_USER: 'sail'
            MYSQL_PASSWORD: 'password'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        volumes:
            - 'sail-mysql:/var/lib/mysql'

volumes:
    sail-mysql:
        driver: local