services:
  laravel-app:
    image: 221110019/devops-laravel:latest
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www
    user: "1000:1000"
    volumes:
      - ./storage:/var/www/storage
      - ./bootstrap/cache:/var/www/bootstrap/cache
    environment:
      - DB_HOST=laravel-db
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
    networks:
      - laravel-network
    depends_on:
      - laravel-db

  laravel-db:
    image: mysql:8.0
    container_name: laravel-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - laravel-mysql-data:/var/lib/mysql
    networks:
      - laravel-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./storage:/var/www/storage:ro
    networks:
      - laravel-network
    depends_on:
      - laravel-app

networks:
  laravel-network:
    driver: bridge

volumes:
  laravel-mysql-data:
    driver: local